header {
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
    height: 54px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.nav {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-cta {
    width: 20%;
    display: flex;
    justify-content: space-between;
}